<!doctype html>
<html>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <body>
        {{{body}}}
        <script type="text/javascript" src="signature.js"></script>
    </body>
</html>
