<!doctype html>
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/test.css">
    <body>
        <div class="feature">
            <h1>Right to be Forgotten</h1>
        </div>
        <div class="content">
            {{{ body }}}
        </div>
        <script
          src="https://code.jquery.com/jquery-3.4.0.min.js"
          integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
          crossorigin="anonymous"></script>
        <script src="/script.js"type="text/javascript"></script>
        <script src="/signature.js"type="text/javascript"></script>
    </body>
</html>
