<!doctype html>
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="/styles.css">
    <body>
        <h1>Right to be Forgotten</h1>

        <h3>Mandate a <a href="https://www.wikiwand.com/en/Right_to_be_forgotten">Right To Be Forgotten</a> for Citizens of the United States of America</h3>

        {{{body}}}
        <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>
        <script type="text/javascript" src="signature.js"></script>
    </body>
</html>
