<h2>Thanks for signing the petition</h2>

<div class="info">
    <p>I will be sure to keep blasting many emails in your direction in the near future!</p>
</div>

<img class="sigImage" src="{{ signatureURL }}"/>

<p><a href="signatures">Check out the {{ signersList }} other petition signers</a></p>
