<div class="signature">
    <h2>Thanks for signing the petition</h2>

    <div class="login">
        <h3>Thanks for your interest and feel free to give me feedback on the site or spread the word!</h3>
    </div>

    <img class="sigImage" src="{{ signatureURL }}"/>

    <div class="login">
        <h4><a href="signatures">Check out the {{ signersList }} other petition signers</a></h4>

        <h4><a href="update">Edit your profile</a></h4>

        <h4><a href="delete">Delete your signature or profile</a></h4>

        <h4><a href="logout">Log Out</a></h4>
    </div>

</div>
