* {
    box-sizing: border-box;
    font-family: Georgia;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h1 {
    font-size: calc(30px + 2em);
    width: 60%;
}
.info {
    font-size: calc(15px + 0.5em);
    width: 80%;
}
/*FORM*/
.signature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 75%;
    width: 80%;
}
.names {
    display: flex;
    width: 100%;
    min-height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.names input {
    height: 30px;
    min-width: 200px;
}
canvas {
    width: 400px;
    height: 100px;
    border-radius: 15px;
    border: 5px black solid;
}

/*signatures*/
.sigList {
    display: grid;
    width: 80%;
    grid-template-rows: 60px;
    grid-auto-rows: 40px;
}
.sigLine,
.sigListTitle {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 4fr;
    text-align: center;
    padding-top: 10px;
}
.sigListTitle {
    border-bottom: 5px black solid;
}
.sigLine div {
    max-height: 100%;
}

/* Log-in register */

.error {
    color: red;
}

a.button,
button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    font-size: 20px;
    height: 30px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 250px;
    width: 45%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin: 10px;
    height: auto;
}
.login input {
    height: 30px;
    width: 100%;
}

.login div input {
    margin: 0px;
    padding: 0px;
}

/* PROFILE */
.highlight {
    background-color: gray;
}
input:valid {
    background-color: rgba(0, 255, 0, 0.3);
}
input:invalid {
    background-color: rgba(255, 0, 0, 0.3);
}
/* DELETE */
.delete {
    height: 40px;
    width: 250px;
}
